# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    versioning-strategy: "increase"
    groups:
      dependencies-minor:
        dependency-type: "production"
        update-types:
          - "minor"
      dependencies-patch:
        dependency-type: "production"
        update-types:
          - "patch"
      dev-dependencies-minor:
        dependency-type: "development"
        update-types:
          - "minor"
      dev-dependencies-patch:
        dependency-type: "development"
        update-types:
          - "patch"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    groups:
      github-actions:
        patterns:
          - "*"
    commit-message:
      prefix: "chore"
      include: "scope"

