{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
