{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "6",
        "ios": "9"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./packages"]
    }]
  ]
}
