aliases:
  - &restore_test_cache
    keys:
      - test-{{ .Environment.PROJECT_CACHE_VERSION }}-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}

  - &save_test_cache
    paths:
      - ./node_modules
    key: test-{{ .Environment.PROJECT_CACHE_VERSION }}-{{ .Branch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "package-lock.json" }}

  - &restore_release_cache
    keys:
      - release-{{ .Environment.PROJECT_CACHE_VERSION }}-{{ checksum "package-lock.json" }}

  - &save_release_cache
    paths:
      - ./node_modules
    key: release-{{ .Environment.PROJECT_CACHE_VERSION }}-{{ checksum "package-lock.json" }}

  - &install_npm
    name: install dependencies
    command: |
      npm install
      npm install --no-save typescript

  - &build_package
    name: build package
    command: |
      npm run clean
      npm run build:modules

  - &filter_common
    branches:
      ignore: gh-pages
    tags:
      ignore: /.*/

  - &filter_tag_all
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

  - &filter_tag_stable
    tags:
      only: /^v[0-9]+(\.[0-9]+)*$/
    branches:
      ignore: /.*/

  - &filter_tag_beta
    tags:
      only: /^v[0-9]+(\.[0-9]+)*\-[0-9]+$/
    branches:
      ignore: /.*/

  - &node_tests
    working_directory: ~/yeojz/otplib
    steps:
      - checkout
      - restore-cache: *restore_test_cache
      - run: *install_npm
      - save_cache: *save_test_cache
      - run: *build_package
      - run:
          name: test
          command: npm run test

  - &defaults
    working_directory: ~/yeojz/otplib
    docker:
      - image: circleci/node:8@sha256:ee5f44c857a42e8643b7bbdb2b1b76ad715e702626bb6423ff6ab7144e518c84

  - &npm_publish
    steps:
      - checkout
      - restore-cache: *restore_release_cache
      - run: *install_npm
      - run:
          name: install conventional-github-releaser
          command: npm install --no-save conventional-github-releaser
      - save_cache: *save_release_cache
      - run:
          name: update github release description
          command: npx conventional-github-releaser -p angular
      - run:
          name: build for npm
          command: |
            npm run clean
            npm run build
      - run:
          working_directory: ~/yeojz/otplib/dist/otplib
          name: publish to npm
          command: |
            echo "npm tag = $RUNTIME_NPM_TAG"

            if [ -z "$CIRCLE_PULL_REQUEST" ]; then
              echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
              npm publish --tag $RUNTIME_NPM_TAG
            else
              echo "skipping publication."
            fi

version: 2
jobs:
  node_v8:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore_test_cache
      - run: *install_npm
      - save_cache: *save_test_cache
      - run: *build_package
      - run:
          name: test
          command: npm run test
      - run:
          name: lint
          command: |
            npm run lint:js
            npm run lint:ts
      - run:
          name: send coverage report
          command: npm run coveralls
          when: on_success

  node_v6:
    docker:
      - image: circleci/node:6@sha256:6cafe8d1415c66c68281b5404b471a5ef5b9c3bbbb6ec881278fcef7122fd64c
    <<: *node_tests

  node_v10:
    docker:
      - image: circleci/node:10@sha256:70713ed12aab3ddb1e7e4eaceb933801b5370f8781f0cd592f3d48538725a46b
    <<: *node_tests

  publish_npm_stable:
    environment:
      RUNTIME_NPM_TAG: latest
    <<: *defaults
    <<: *npm_publish

  publish_npm_beta:
    environment:
      RUNTIME_NPM_TAG: next
    <<: *defaults
    <<: *npm_publish

  deploy_website:
    <<: *defaults
    steps:
      - checkout
      - restore-cache: *restore_release_cache
      - run: *install_npm
      - save_cache: *save_release_cache
      - run:
          name: configure git user
          command: |
            git config --global user.email $PROJECT_DEPLOY_EMAIL
            git config --global user.name $PROJECT_DEPLOY_NAME
      - run:
          working_directory: ~/yeojz/otplib/site
          name: deploying website
          command: |
            if [[ $CIRCLE_PROJECT_USERNAME == $PROJECT_OWNER_NAME && -z $CI_PULL_REQUEST && -z $CIRCLE_PR_USERNAME ]]; then
              npm install
              npm run build:deps
              npm run build
              npm run deploy
            else
              echo "skipping deploy."
            fi

workflows:
  version: 2
  dev-builds:
    jobs:
      - node_v6:
          filters: *filter_common
      - node_v8:
          filters: *filter_common
      - node_v10:
          filters: *filter_common
  release-builds:
    jobs:
      - node_v6:
          filters: *filter_tag_all
      - node_v8:
          filters: *filter_tag_all
      - node_v10:
          filters: *filter_tag_all
      - deploy_website:
          requires:
            - node_v6
            - node_v8
            - node_v10
          filters: *filter_tag_stable
      - publish_npm_beta:
          requires:
            - node_v6
            - node_v8
            - node_v10
          filters: *filter_tag_beta
      - hold:
          type: approval
          requires:
            - node_v6
            - node_v8
            - node_v10
          filters: *filter_tag_stable
      - publish_npm_stable:
          requires:
            - hold
          filters: *filter_tag_stable

