.content {
  margin-top: -1.2em;
}

.content h3 {
  text-align: right;
  padding-right: 1em;
}

@media (min-width: 768px) {
  .content {
    border-top: 0;
    margin: 0;
  }

  .content img {
    margin: 0;
  }

  .content h3 {
    text-align: left;
    padding-right: 0;
  }
}
