.container {
  font-size: 1.6rem;
  position: relative;
}

.input {
  border: 0;
  border-bottom: 1px #ddd solid;
  box-sizing: border-box;
  color: #333;
  outline: none;
  padding: 0.3em;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .input {
    text-align: left;
  }
}
