.container {
  margin: 0;
  padding: 0;
}

.header {
  background: #fff;
  border-bottom: 2px #f0f0f0 solid;
  padding: 10px 20px;
  text-align: center;
}

.headerConstraints {
  margin: 0 auto;
  max-width: 1040px;
}

.headerLogo {
  flex: 1;
}

.headerLogo img {
  padding-top: 1em;
  width: 90px;
}

.navlinks a {
  margin: 0 1em;
}

@media (min-width: 768px) {
  .headerConstraints {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
  }

  .headerLogo img {
    margin: 0;
    padding: 1em 0 0;
    width: 120px;
  }
}
